
@{

    Layout = null;

    var obj = new PRIT.BAL.CollegeBL();
    var MenuItem = obj.GetModuleMenu();

}

<div class="collapse navbar-collapse navbar-right">

    <ul class="nav navbar-nav mcd-menu">

        @if (Session["MenuMaster"] != null)
        {
            var MenuMaster = (List<PRIT.Entity.MenuModelsList>)Session["MenuMaster"];
            //var groupByMenu = MenuMaster.GroupBy(x => x.MainMenuName).ToList();


            foreach (var MenuList in MenuMaster)
            {
                <li class="dropdown">
                    @if (@MenuList.SubMenuList.Count() > 0)
                    {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@MenuList.MainMenu.MainMenu <i class="fa fa-angle-down"></i></a>
                    }
                    else
                    {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@MenuList.MainMenu.MainMenu </a>
                    }

                    <ul class="dropdown-menu">

                        @foreach (var SubMenuList in MenuList.SubMenuList)
                        {
                        <li>
                            <a href="@Url.Action(SubMenuList.Action, SubMenuList.Controller)">@SubMenuList.SubMenu</a>
                        </li>
                        }

                    </ul>
                </li>


            }

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-angle-down"></i> @*<b class="caret"></b>*@</a>

                <ul class="dropdown-menu">
                    <li class="kopie"><a href="#">Dropdown</a></li>
                    <li><a href="#">Dropdown Link 1</a></li>
                    <li class=""><a href="#">Dropdown Link 2</a></li>
                    <li><a href="#">Dropdown Link 3</a></li>

                    <li class="dropdown dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Link 4 </a>
                        <ul class="dropdown-menu test" style="display:none;">
                            <li><a href="#">Dropdown Link 4</a></li>
                            <li><a href="#">Dropdown Submenu Link 4.1</a></li>
                            <li><a href="#">Dropdown Submenu Link 4.2</a></li>
                            <li><a href="#">Dropdown Submenu Link 4.3</a></li>
                            <li><a href="#">Dropdown Submenu Link 4.4</a></li>

                        </ul>
                    </li>


                </ul>
            </li>



            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")"> <a href="@Url.Action("Logout", "Admin")" id="contactId">Logout</a> </li>


        }



    </ul>


    @*Hardcoded menu binding*@

    @*<ul class="nav navbar-nav">

            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AdminDashboard" ? "active" : "")"> <a href="@Url.Action("AdminDashboard", "Admin")">Home</a> </li>

            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MultipleFileUpload" ? "active" : "")"><a href="@Url.Action("MultipleFileUpload", "Admin")">Upload Documents</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Password <i class="fa fa-angle-right"></i></a>
                        <ul class="dropdown-submenu"><li class="dropdown"><a href="#" tabindex="-1">ddddd </a> </li> </ul>
                    </li>
                    <li><a href="#">My Profile</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Privileges <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Registration", "Admin")">Registration</a></li>
                    <li><a href="@Url.Action("EmployeeMgmt", "Admin")">Employee Management</a></li>
                    <li><a href="@Url.Action("ViewContacts", "Admin")">View Contacts</a></li>
                    <li><a href="@Url.Action("CollegeMgmt", "Admin")">College Management</a></li>
                    <li><a href="#">Fees Management</a></li>
                    <li><a href="#">Course Management</a></li>
                    <li><a href="#">Batch Management</a></li>
                    <li><a href="#">Batch Time Management</a></li>
                    <li><a href="#">Expense Management</a></li>
                </ul>
            </li>

            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")"> <a href="@Url.Action("Logout", "Admin")" id="contactId">Logout</a> </li>

        </ul>*@

</div>


@*<script type="text/javascript">
         $("ul li").mouseover(function (e) {
             $(this).children("ul").css("display", "table");
         });
         $("ul li").mouseout(function (e) {
             $(this).children("ul").css("display", "none");
         });
    </script>*@



@*<div class="col-sm-2 col-md-1 side-menu-wrapper">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">

                    <script type="text/javascript">
                        $("ul li").mouseover(function (e) {
                            $(this).children("ul").css("display", "table");
                        });
                        $("ul li").mouseout(function (e) {
                            $(this).children("ul").css("display", "none");
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>*@

