
@model PRIT.Entity.tbl_EmploymentDetails

@{
    Layout = null;

    var a = ViewBag.EmpID;
}
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<style>
    .form-group {
        margin-bottom: 15px;
        margin-bottom: 15px;
        float: left;
        width: 26%;
        margin-right: 51px !important;
        margin-top: 10px !important;
        margin-left: 22px !important;
    }

    .input-group {
        width: 465px;
    }

    .error-msg {
        position: absolute;
        top: 37px;
        left: 0;
    }
</style>

@*<style type="text/css">
    .style1 {
        color: #990000;
        text-decoration: underline;
    }

    .style2 {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>*@

<div class="modal fade" id="employmentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddEditEmployment", "Admin", new AjaxOptions { OnSuccess = "fnOnEmploymentSuccess", HttpMethod = "POST" }, new { @class = "form-horizontal", @id = "frmResourceCategory" }))
                {
                    @Html.ValidationSummary(true)
                   @Html.HiddenFor(r => r.ID)
                    <input type="hidden" id="EmpIds" name="EmpIds" value="@a" />
                    <div class="container">
                        <div class="row main">
                            <div class="main-login main-center">
                                <div class="form-group">
                                    <label for="DepartmentName" class="cols-sm-2 control-label"> Department Name*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control", id = "DepartmentName", placeholder = "Enter Department Name" })
                                            @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="CompanyName" class="cols-sm-2 control-label">Company Name*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            @* <i class="glyphicon glyphicon-earphone"></i>*@
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", id = "CompanyName", placeholder = "Enter Company Name" })
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Role" class="cols-sm-2 control-label">Role</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                            @Html.DropDownListFor(model => model.Role, new SelectList(ViewBag.ddlEmpDesignation as SelectList, "Value", "Text"), "--SELECT EMPLOYEE DESIGNATION--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger error-msg" })



                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="DateOfJoining" class="cols-sm-2 control-label">Date Of Joining *</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.DateOfJoining, new { @class = "form-control", id = "DateOfJoining", placeholder = "Enter Date Of Joining" })
                                            @Html.ValidationMessageFor(model => model.DateOfJoining, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="TotalRelevantExperienced" class="cols-sm-2 control-label">Total Relevant Experienced*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="glyphicon glyphicon-road" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.TotalRelevantExperienced, new { @class = "form-control", id = "pincode", placeholder = "Enter Total Relevant Experienced" })
                                            @Html.ValidationMessageFor(model => model.TotalRelevantExperienced, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="PreviousCompanyName" class="cols-sm-2 control-label">Previous Company Name*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            @* <i class="glyphicon glyphicon-earphone"></i>*@
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.PreviousCompanyName, new { @class = "form-control", id = "PreviousCompanyName", placeholder = "Enter Previous Company Name" })
                                            @Html.ValidationMessageFor(model => model.PreviousCompanyName, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PreviousCompanyLocation" class="cols-sm-2 control-label">Previous Company Location*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            @* <i class="glyphicon glyphicon-earphone"></i>*@
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.PreviousCompanyLocation, new { @class = "form-control", id = "PreviousCompanyLocation", placeholder = "Enter Previous Company Location" })
                                            @Html.ValidationMessageFor(model => model.PreviousCompanyLocation, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="PreviousCompanyCTC" class="cols-sm-2 control-label">Previous Company CTC*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="glyphicon glyphicon-tint" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.PreviousCompanyCTC, new { @class = "form-control", id = "City", placeholder = "Enter Previous Company CTC" })
                                            @Html.ValidationMessageFor(model => model.PreviousCompanyCTC, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ReasonForLeaving" class="cols-sm-2 control-label">Reason For Leaving *</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="glyphicon glyphicon-stats" aria-hidden="true"></i></span>

                                            @Html.TextAreaFor(model => model.ReasonForLeaving, new { @class = "form-control", id = "ReasonForLeaving", placeholder = "Enter Reason For Leaving" })
                                            @Html.ValidationMessageFor(model => model.ReasonForLeaving, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label for="PreviousCompanyLastDay" class="cols-sm-2 control-label">Previous Company Last Day *</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>

                                            @Html.TextBoxFor(model => model.PreviousCompanyLastDay, new { @class = "form-control", id = "PreviousCompanyLastDay", placeholder = "Enter Previous Company Last Day" })
                                            @Html.ValidationMessageFor(model => model.PreviousCompanyLastDay, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="JoinedAs" class="cols-sm-2 control-label">Joined As*</label>
                                    <div class="cols-sm-10">

                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="glyphicon glyphicon-repeat" aria-hidden="true"></i></span>
                                            @*@Html.DropDownListFor(model => model.EmployeeType, ViewBag.ddlEmployeeType as SelectList, new { @class = "form-control" })*@
                                            @Html.DropDownListFor(model => model.JoinedAs, new SelectList(ViewBag.ddlEmployeeType as SelectList, "Value", "Text"), "--SELECT EMPLOYEE TYPE--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.JoinedAs, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-left: 216px !important; width:100%; margin-bottom:0 !important;">
                                    <input type="submit" value="Save Employment" class="btn btn-primary btn-block" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7J27Hw6G8JphnwGXEkv53mn0KTLyuYTI"></script>
<script language="javascript">
    function response(obj) {
        console.log(obj);
    }

    var start = new Date();
    $('#DateOfJoining').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true,
        date: function (value, element) {
            $.culture = Globalize.culture("en-GB");
            var date = Globalize.parseDate(value, "dd/mm/yyyy", "en-GB");
            return this.optional(element) ||
                !/Invalid|NaN/.test(new Date(date).toString());
        },
    }).on('changeDate', function (e) {
        });

    $('#PreviousCompanyLastDay').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true,
        date: function (value, element) {
            $.culture = Globalize.culture("en-GB");
            var date = Globalize.parseDate(value, "dd/mm/yyyy", "en-GB");
            return this.optional(element) ||
                !/Invalid|NaN/.test(new Date(date).toString());
        },
    }).on('changeDate', function (e) {
    });
</script>


 