@model PRIT.Entity.tbl_Registration

@{
    Layout = null;
}

@*@{
        PRIT.Entity.PRITEntities db = new PRIT.Entity.PRITEntities();frmResourceCategory
    }*@

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@(Model.Id == 0 ? "Registration" : "Update Profile")</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddEditUser", "Admin", new { area = "" }, new AjaxOptions { OnSuccess = "fnOnUserSuccess", HttpMethod = "POST" }, new { @class = "form-horizontal", @id = "frmResourceCategory" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(r => r.Id)

                    <div class="container">
                        <div class="row main">
                            <div class="main-login main-center">
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">Full Name*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                            @*<input type="text" class="form-control" name="FullName" id="name" placeholder="Enter your Name" required />*@
                                            @Html.TextBoxFor(model => model.FullName, new
                                       {
                                           @class = "form-control required",
                                           id = "name",
                                           placeholder = "Enter your Full Name"@*required = "required"*@})
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Email*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            @*<input type="text" class="form-control" name="Email" id="email" placeholder="Enter your Email" required />*@
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "email", placeholder = "Enter Email", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobileNo" class="cols-sm-2 control-label">Mobile Number*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                            @*<input type="text" class="form-control" name="ContactNo" id="contactNo" placeholder="Enter your Username" required />*@
                                            @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", id = "contactNo", placeholder = "Enter Mobile Number", required = "required" })
                                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="designation" class="cols-sm-2 control-label">Designation*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                            @*@Html.DropDownListFor(model => model.Designation, ViewBag.ddlDestination as SelectList, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger error-msg" })*@

                                            @Html.DropDownListFor(model => model.Designation, new SelectList(ViewBag.ddlDestination as SelectList, "Value", "Text"), "--SELECT DESIGNATION--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger error-msg" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="CollegeID" class="cols-sm-2 control-label">College Name*</label>
                                    <div class="cols-sm-10">

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                            @*@Html.DropDownListFor(model => model.CollegeID, ViewBag.ddlColleges as SelectList, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CollegeID, "", new { @class = "text-danger error-msg" })*@
                                            @Html.DropDownListFor(model => model.CollegeID, new SelectList(ViewBag.ddlColleges as SelectList, "Value", "Text"), "--SELECT COLLEGE--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CollegeID, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="role" class="cols-sm-2 control-label">Role*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                            @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.ddlRoles as SelectList, "Value", "Text"), "--SELECT ROLE--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger error-msg" })
                                            @*@Html.DropDownListFor(model => model.RoleId, ViewBag.ddlRoles as SelectList, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger error-msg" })*@

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">User Name*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                            @* <input type="text" class="form-control" name="UserName" id="uName" placeholder="Enter your Name" required />*@
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", id = "uName", placeholder = "Enter User Name", required = "required" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="cols-sm-2 control-label">Password*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "password", placeholder = "Enter Password", type = "password", required = "required" })
                                            <!-- An element to toggle between password visibility -->
                                            <span class="glyphicon glyphicon-eye-close" id="eye" onclick="myFunction()"></span>
                                            @*<input type="checkbox" onclick="myFunction()">Show Password*@
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger error-msg" })

                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label for="gender" class="cols-sm-2 control-label">Gender*</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            @*<label class="radio-inline">
                                                <input type="radio" name="Gender" value="M">Male</label>
                                                <label class="radio-inline"><input type="radio" name="Gender" value="F">Female</label>*@
                                            @*<label class="radio-inline">
                                                    @Html.RadioButtonFor(m => m.Gender, "M")Male
                                                </label>
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(m => m.Gender, "F")Female
                                                </label>*@


                                            @Html.RadioButtonFor(model => model.Gender, "M", true) Male
                                            @Html.RadioButtonFor(model => model.Gender, "F", false) Female

                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger error-msg" })
                                            <br />


                                        </div>
                                    </div>
                                </div>

                                @if (Model.Id != 0)
                                {
                                    <div class="form-group">
                                        <label for="isActive" class="cols-sm-2 control-label">isActive*</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

                                                @Html.TextBoxFor(model => model.IsActive, new { @class = "form-control", id = "isActive" })
                                                @Html.ValidationMessageFor(model => model.IsActive)

                                            </div>
                                        </div>
                                    </div>
                                }
                                <span id="pwdMeter" class="neutral" />
                                <div class="form-group" style="margin-left: 216px !important; width:100%; margin-bottom:0 !important;">
                                    <input type="submit" value="Register" class="btn btn-primary btn-block" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*<div class="modal-footer footer-bottom">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@*<script type="text/javascript" language=javascript>

        $.validator.unobtrusive.parse(document);
    </script>*@



<script src="~/Scripts/jquery.pwdMeter.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#password").pwdMeter();

    });

    function myFunction() {

        var x = document.getElementById("password");
        if (x.type === "password") {
            $("#eye").removeClass("glyphicon glyphicon-eye-close").addClass("glyphicon glyphicon-eye-open");
            x.type = "text";
        } else {
            $("#eye").removeClass("glyphicon glyphicon-eye-open").addClass("glyphicon glyphicon-eye-close");
            x.type = "password";

        }
    }
</script>

<!--Style Sheets-->
<style>
    .veryweak {
        color: #FF0000;
    }

    .weak {
        color: #FFAAAA;
    }

    .medium {
        color: #FFFF00;
    }

    .strong {
        color: #0000FF;
    }

    .verystrong {
        color: #00FF00;
    }
</style>
