
@model PRIT.Entity.tbl_CourseFees

@{
    Layout = null;
}



<style>
    input[type="text"], select {
        width: 250px;
    }

    a:link, a:active, a:visited, a:hover {
        text-decoration: none;
        color: black;
    }
    /*--- DROPDOWN ---*/
    #nav ul {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
</style>
<link href="~/css/autocomplete-0.3.0.min.css" rel="stylesheet" />
<script src="~/js/Custom/autocomplete-0.3.0.min.js"></script>

<div class="modal fade" id="courseFeesModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@(Model.Id == 0 ? "Add Course Fees" : "Update Course Fees")</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddEditCourseFees", "Admin", new { area = "" }, new AjaxOptions { OnSuccess = "fnOnCourseFeesSuccess", HttpMethod = "POST" }, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(r => r.Id)

                    <div class="container">
                        <div class="row main">
                            <div class="main-login main-center">
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">Email *</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                           
                                            @Html.TextBoxFor(model => model.CandidateEmailId, new
                                       {
                                           @class = "form-control inputstl",
                                           id = "CandidateEmailId",
                                           placeholder = "Enter Candidate's Email Id"})
                                            @Html.ValidationMessageFor(model => model.CandidateEmailId, "", new { @class = "text-danger error-msg" })
                                        </div>
                                    </div>
                                </div>

                                <div id="nav">
                                    <input type="text" id="txtCountrty" />
                                    <ul id="selectedValue"></ul>
                                </div>

                                @*<div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                            </div>
                                        </div>
                                    </div>*@
                                

                              
                              
                                <div class="form-group" style="margin-left: 216px !important; width:100%; margin-bottom:0 !important;">
                                    <input type="submit" value="Register" class="btn btn-primary btn-block" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
           
        </div>

    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    var textbox;
    var selectValue;

    $(function () {
        debugger;
        textbox = $("#txtCountrty");
        selectValue = $('ul#selectedValue');

        textbox.on("input", function () {
            getAutoComplete(textbox.val());
        });
    });
    function getAutoComplete(countryName) {
        debugger;
        var uri = "../Admin/GetCandidateEmail";
        $.getJSON(uri, { countryName: countryName })
            .done(function (data) {
                selectValue.html("");
                var count = 0;
                $.each(data, function (key, item) {
                    //$('<option>').text(item).appendTo('#selectedValue');
                    var li = $('<li/>').addClass('ui-menu-item').attr('role', 'menuitem')
                        .html("<a href='#' onclick=\"setText ('" + item + "') \">" + item + "</a>")                           
                        .appendTo(selectValue);

                    count++;
                });
            });
    }
    function setText(text) {
        textbox.val(text);
        getAutoComplete(text);
    }

</script>



<script type="text/javascript">

    $(function () {
        var getData = function (request, response) {
            $.getJSON(
                "http://gd.geobytes.com/AutoCompleteCity?callback=?&q=" + request.term,
                function (data) {
                    response(data);
                });
        };

        var selectItem = function (event, ui) {
            $("#CandidateEmailId").val(ui.item.value);
            return false;
        }

        $("#CandidateEmailId").autocomplete({
            source: getData,
            select: selectItem,
            minLength: 4,
            change: function () {
                $("#CandidateEmailId").val("").css("display", 2);
            }
        });


        $("#CandidateEmailId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    url: "../Admin/GetCandidateEmail",
                    data: "{ 'pre':'" + request.term + "'}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data.d, function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error");
                    }
                });
            }
        });  



    });

</script>

