@model IEnumerable<PRIT.Entity.tbl_CandidateWithCourseDetails>
@{
    Layout = null;

}

<style>

  

    .space-top {
        margin-top: 50px;
    }

  
</style>

<div class="container">
    <div class="space-top">

        <section>
            <div class="well bs-component">

                <div class="row">
                    <table id="exampleCandidateCourse" class="table  table-hover" cellspacing="0" align="center" width="100%">
                        <thead>
                            @*style="background-color: #865FC5;color: #fff;"*@
                            <tr>

                                <th>Full Name</th>
                                <th>Email Id</th>
                                <th>Contact No</th>
                                <th>Course Name</th>
                                <th>Duration</th>
                                <th>Course Type</th>
                                <th>Course Category</th>
                                <th>Admission Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr style="white-space: nowrap;">

                                    <td>@item.FirstName @item.LastName</td>
                                    <td><strong>@item.EmailId</strong></td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.CourseName</td>
                                    <td>@item.DurationName</td>
                                    <td>@item.CourseType</td>
                                    <td>@item.CourseCategoryName</td>
                                    <td>@item.AdmissionDate</td>
                                    <th>@item.Status</th>
                                    <td>

                                        <button type="button" title="Delete" value="Delete" class="btn btn-danger btnCandidateCourseDelete" data-Canid=@item.CandidateId>
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>

                                        <button title="Edit" type="button" value="Update" class="btnUpdateCandidateCourse btn btn-success" data-Canid=@item.CandidateId>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>



                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>

</div>



<script type="text/javascript">

    $(document).ready(function () {

        $('#exampleCandidateCourse').DataTable({
            "pagingType": "full_numbers",
            "columnDefs": [
                { "orderable": false, "targets": [2, 3, 4, 5, 6, 7, 8,9] }
            ]
        });


    });

    $('.btnCandidateCourseDelete').on('click', function () {
        var id = $(this).data("canid");
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel please!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {

                $.ajax({
                    type: "POST",
                    url: "../Admin/DeleteCandidateCourse/" + id,
                    //contentType: "application/json; charset=utf-8",
                    //contentType: "html",
                    //dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $('#candidateCourseData').html(result);
                        swal('Deleted!', 'Your imaginary file has been deleted.', 'success')
                    },
                    error: function (xhr, status, error) {
                        sweetAlert("Oops...", "Something went wrong!", "error");

                    }
                });

            } else {
                swal("Cancelled", "Your imaginary file is safe :)", "error");
            }
        });
    });

    $(".btnUpdateCandidateCourse").click(function () {
        debugger
        var id = $(this).data("canid");
        $.ajax({
            type: "GET",
            url: "../Admin/AddEditCandidateCourse?candidateCourseId=" + id,
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            success: function (result) {
                debugger;

                $('#candidateCourseRegistationPopUp').html(result);
                $('#candidateCourseModal').modal('show');

            },
            error: function (xhr, status, error) {
                sweetAlert("Oops...", "Something went wrong!", "error");
                //alert('Error in downloading File');
            }
        });
    });


</script>

